// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
// @import '~bootstrap/scss/bootstrap';

.menu-end {
    position: absolute !important;
    right: 0 !important;
}

.navbar-burger {
    margin-left: 0 !important;
}

.table {
    width: 100% !important;
}

.card-header {
    box-shadow: 0 0 0.25em rgb(10 10 10 / 0%) !important
}

@media screen and (max-width: 1023px){
    .navbar-menu.is-active {
        padding: 10px 15px !important;
    }
}